@mainFontSize: 13px; 
@primaryBlue: rgb(51, 122, 183);

body {
	font-size: @mainFontSize;
	color: #111;
}

legend {
	font-size: 1.5em;	
}

h1 {
	font-size: 2.2em;
}

h2 {
	font-size: 1.8em;	
}

.wrapper {
  .header {
    padding: 15px 10px;
    margin-bottom: 30px;
    text-align: center;

    h1 {
      margin: 0;
    }
  }

  .content {
    .comments {
      h4 {
        display: inline-block;
        margin-bottom: 15px;
        margin-top: 0;
      }
      .actions {
        display: inline;
      }
    }
  }
}

.flashmessages {
  height: 30px;
  margin: 10px 0;
  .alert {
    height: 30px;
    padding: 3px 10px;
    line-height: 24px;


    .close {
      position: inherit;
      top: inherit;
      right: inherit;
    }
  }
}

.reply_to_form {
  textarea {
    display: inline;
    vertical-align:middle;
  }
}