{snippet flashmessages}
<div n:if="count($flashes)>0" class="flashmessages">
   <div n:foreach="$flashes as $flash"
      class='alert alert-{$flash->type} alert-dismissible'>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <i class="icon fa fa-{$flash->type == 'success' ? 'check' : 'warning'}"></i>{$flash->message}
   </div>
</div>
{/snippet}

{snippet commentsList}
  {include comment_box, comments => $comments}
{/snippet}

{define comment_box}
  {if !empty($comments)}
    <p><span class="badge">{sizeof($comments)}</span> Komentáře:</p>
    <br>
    <div class="row comments">
       {foreach $comments as $comment}
         <div class="col-sm-2 text-right">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 100 100">
               <g transform="translate(50,50)">
                  <circle style="fill:#eeeeee" r="50" />
                  <text text-anchor="middle" font-size="35" dominant-baseline="central">{$comment->username|substr:0:1|upper}</text>
               </g>
            </svg>
         </div>
         <div class="col-sm-10">
            <h4>{$comment->username} <small>{$comment->created|date:'%d. %m. %Y'}, {$comment->created|date:'%H:%M'}</small></h4>
            <div class="actions pull-right">
               <a n:href="deleteComment! $comment->id" class="ajax" title="smazat">
               <i class="fa fa-trash-o" aria-hidden="true"></i>        
               </a>
            </div>
            <p>{$comment->text}</p>
            
            {if $replyTo != $comment->id}
              <p>
                 <a href="{plink Homepage:default, $comment->id}" class="ajax">
                 Přidat odpověď
                 </a>
              </p>
            {else}
              {control replyToForm-$comment->id}
            {/if}
            
            <br>
            {include comment_box, comments => $comment->children}
         </div>
       {/foreach}
    </div>
  {/if}
{/define}