{snippet flashmessages}
<div n:if="count($flashes)>0" class="flashmessages">
   <div n:foreach="$flashes as $flash"
      class='alert alert-{$flash->type} alert-dismissible'>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <i class="icon fa fa-{$flash->type == 'success' ? 'check' : 'warning'}"></i>{$flash->message}
   </div>
</div>
{/snippet}

<form n:name="commentForm" class="ajax">
   <div class="form-group">
      <input n:name="username" type="text" class="form-control" placeholder="Vaše jméno">
   </div>
   <div class="form-group">
      <textarea n:name="text" class="form-control" rows="3" placeholder="Obsah zprávy"></textarea>
   </div>
   <input n:name="save" type="submit" class="btn btn-success" value="Odeslat">
</form>