{snippet flashmessages}
<div n:if="count($flashes)>0" class="flashmessages">
   <div n:foreach="$flashes as $flash"
      class='alert alert-{$flash->type} alert-dismissible'>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <i class="icon fa fa-{$flash->type == 'success' ? 'check' : 'warning'}"></i>{$flash->message}
   </div>
</div>
{/snippet}

<form n:name="commentForm" class="form-inline reply_to_form ajax">
   <input n:name="username" type="text" class="form-control-sm" placeholder="Vaše jméno">
   <textarea n:name="text" class="form-control-sm" rows="1" cols="50" placeholder="Obsah zprávy"></textarea>
   <input n:name="save" type="submit" class="btn-xs btn-success" value="Odeslat">
   <a href="{plink Homepage:default, null}" class="ajax">
    <i class="fa fa-times" aria-hidden="true"></i>
   </a>
</form>