{block content}
<div class="container-fluid">
   <div class="row content">
      <h4>Zanechte komentář:</h4>
      
      {snippet commentsContent}
	      {control commentForm}
	      <br><br>
	      {control commentList}
      {/snippet}
   </div>
</div>
{/block}