<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>Návštěvní kniha</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{$basePath}/media/components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="{$basePath}/media/components/components-font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="{$basePath}/media/css/style.css">
	{block head}{/block}
</head>

<body>
	<div class="wrapper">
		<div class="header">
			<h1>Návštěvní kniha</h1>
		</div>
		<div class="content container">
			{include content}
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	<script src="{$basePath}/media/components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="{$basePath}/media/components/nette.ajax.js/nette.ajax.js"></script>
	<script src="{$basePath}/media/js/init.js"></script>
	{block scripts}{/block}
</body>
</html>
